[init]
	defaultBranch = main
[color]
	ui = auto
[push]
  autoSetupRemote = true
  default = current
[pull]
	rebase = false
[core]
	editor = nvim
  pager = delta
	excludesfile = /home/carraes/.gitignore_global
[delta]
  line-numbers = true
  side-by-side = true
	navigate = true
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictStyle = zdiff3
[difftool "difft"]
	cmd = difft \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = true
