[init]
	defaultBranch = main
[color]
	ui = auto
[push]
  autoSetupRemote = true
  default = current
[pull]
	rebase = false
[core]
	editor = nvim
	pager = delta
	excludesfile = /home/carraes/.gitignore_global
[delta]
  line-numbers = true
  side-by-side = true
	navigate = true
	light = false
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
[difftool "difft"]
	cmd = difft \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = true
[diff-so-fancy]
	stripLeadingSymbols = false
[diff]
	algorithm = histogram
	colorMoved = default
[credential]
	helper = store
